<mat-toolbar
  class="app-header"
  color="accent"
  role="banner"
>
  <div
    class="app-header__inner container"
    role="navigation"
  >
    <a
      routerLink="/"
      mat-icon-button
      title="home"
    >
      <mat-icon>home</mat-icon>
    </a>
    <a
      routerLink="/dating/matches"
      mat-icon-button
      title="your reactions list"
    >
      <mat-icon>rule</mat-icon>
    </a>
    <a
      routerLink="/profile"
      mat-icon-button
      title="profile"
    >
      <mat-icon>person</mat-icon>
    </a>
  </div>
</mat-toolbar>
